name: CI - Build & Push Strapi

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: reshma561/strapi-app   # <-- replace with your DockerHub repo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set image tag
        id: tag
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          TAG=$(date +%Y%m%d%H%M%S)-$SHORT_SHA
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.tag.outputs.tag }}
            ${{ env.IMAGE_NAME }}:latest
