name: CD - Deploy Strapi with Terraform

on:
  workflow_dispatch:
    inputs:
      image_repo:
        required: true
        description: "dockerhub/strapi-app"
      image_tag:
        required: true
        description: "Image tag from CI"
      aws_region:
        description: "AWS region where Terraform will deploy resources"
        required: true
        default: "eu-north-1"
        type: string


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ github.event.inputs.aws_region }}

      - name: Set env vars
        run: |
          echo "TF_VAR_image=${{ github.event.inputs.image_repo }}:${{ github.event.inputs.image_tag }}" >> $GITHUB_ENV
          echo "TF_VAR_aws_region=${{ github.event.inputs.aws_region }}" >> $GITHUB_ENV

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Plan
        working-directory: infra
        run: terraform plan

      - name: Terraform Apply
        working-directory: infra
        run: terraform apply -auto-approve
