name: CD - Deploy Strapi with Terraform

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag to deploy"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="dockerhub_username=${{ secrets.DOCKERHUB_USERNAME }}" \
            -var="dockerhub_password=${{ secrets.DOCKERHUB_PASSWORD }}" \
            -var="image_name=strapi-app" \
            -var="image_tag=${{ github.event.inputs.image_tag }}"

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="dockerhub_username=${{ secrets.DOCKERHUB_USERNAME }}" \
            -var="dockerhub_password=${{ secrets.DOCKERHUB_PASSWORD }}" \
            -var="image_name=strapi-app" \
            -var="image_tag=${{ github.event.inputs.image_tag }}"
